/node_modules
/public/hot
/public/storage
/public/qrs
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
gipet.code-workspace
gipet.sublime-project
gipet.sublime-workspace
.phpintel/*
.phpintel/index
gipetProy.sublime-project
gipetProy.sublime-workspace
workspace.code-workspace